<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('./partials/head') %>
    <title>Test</title>
</head>
<body>
    <p>Page for Testing</p>
    <%- include('./partials/scripts') %>
</body>
</html>